<html lang="en">
    {% include "header.html" %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginpage.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include "navbar.html" %}
        <main>
            <section class="white">
                <div class="text1">Welcome to</div>
                <div class="logo-section">
                    <img class="logo" src="{{ url_for('static', filename='img/IMT_SOLUTIONS.png') }}" alt="Logo">
                </div>
                <div class="text2">Login with your IMT SOLUTIONS account to securely manage your inventory</div>
                <div class="text2">and track stock in real time</div>
            </section>
            <section>
                <div class="text3">Login</div>

                <!-- Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification">
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    <div class="login-form">
                        <div class="text4">Email</div>
                        <div class="form-group">
                            <input
                                class="{% if error %}is-invalid{% endif %} credential"
                                type="email"
                                name="email"
                                id="email"
                                maxlength="45"
                                placeholder="Enter your email"
                                required
                                value="{{ request.form.email }}"
                            >
                        </div>
                        <div class="text4">Password</div>
                        <div class="form-group">
                            <input
                                class="{% if error %}is-invalid{% endif %} credential"
                                type="password"
                                name="password"
                                placeholder="Enter your password"
                                id="pwd"
                                minlength="8"
                                required
                            >
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn">LOGIN</button>
                        <a class="btn register" href="register">SIGN UP</a>
                    </div>
                </form>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
</html>
