<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/profilepage.css') }}">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" />
</head>

<body class="d-flex flex-column min-vh-100">
    {% include "navbar.html" %}
    <main class="container-fluid px-3 px-md-5">
        <div class="row">
            <div class="col-sm-12 col-md-9 mt-0 mt-md-2 py-4 px-5 bg-light rounded">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <div id="personal-view">
                            <form action="/profile" method="post">
                                <div class="row gx-lg-5">
                                    <div class="col align-self-center">PERSONAL INFORMATION</div>
                                </div>
                                <hr />
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-8">
                                        <label>Username</label>
                                        <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}">
                                    </div>
                                </div>
                                <br />
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-4">
                                        <label>Email</label>
                                        <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label>Phone Number</label>
                                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" value="{{ user.phone_number }}">
                                    </div>
                                </div>
                                <br />
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-4">
                                        <label>Role</label>
                                        <input type="text" class="form-control" value="{{ user.role }}" readonly>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label>Company</label>
                                        <input type="text" class="form-control" value="{{ company.name if company else 'N/A' }}" readonly>
                                    </div>
                                </div>
                                <br />
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-8">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "footer.html" %}
</body>

</html>
