<html lang="en">
    {% include "header.html" %}
    
    <body>
        {% include "navbar.html" %}
        <main class="container-fluid">
            <div class="d-flex flex-column min-vh-75" style="padding-top: 2%; padding-bottom: 2%;">
                <div class="card align-self-center bg-light border-light">
                    <div class="card-body mx-5">
                        <h3 class="fw-bold mb-4 pt-2 text-center">Register</h3>
                        <form method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" id="Name" placeholder="Name" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="Email" placeholder="Email" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="Password" placeholder="Password" required>
                            </div>

                            <div class="form-group">
                                <label for="company_id">Company</label>
                                <select class="form-select" name="company_id" id="company_id" required>
                                    <option value="" disabled selected>Choose a company</option>
                                    {% for company in companies %}
                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-dark btn-block mb-4">Register</button>

                            <p class="text-center">Already a member? <br class="d-md-none d-lg-none" />Login <a href="login">here</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        
    </body>
</html>
